GetFromGit.sh
PushToGit.sh
01_EagleDocuments/AirBoard_Shield/WeatherShield_Air.b#*
01_EagleDocuments/AirBoard_Shield/WeatherShield_Air.s#*
01_EagleDocuments/Base_Shield/WeatherShield_Base.b#*
01_EagleDocuments/Base_Shield/WeatherShield_Base.s#*
01_EagleDocuments/lib/FSEWeatherShield.l#*


04_Documentation/main.aux
04_Documentation/main.lof
04_Documentation/main.log
04_Documentation/main.lol
04_Documentation/main.lot
04_Documentation/main.out
04_Documentation/build




